<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Toytastic</title>
        <meta name='description' content='This is the SHSS Toytastic Website!'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>

        <!-- Load CSS -->
        <link rel='stylesheet' href='/static/css/style.css'>
    </head>
    <body>
        <nav>
            <div class='logo'>
                <a href='https://www.surreyschools.ca/schools/sullivanheights'>Sullivan Heights</a>
            </div>
            <ul class="nav__links">
                <li><a href='/images'>Images</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class='wrapper'>
            <div class='main'>
                <div class='image-box'>
                    <div class='image-wrap'>
                        <img src='/static/images/background.jpg' alt='background'>
                    </div>
                    <div class='main-content'>
                        <div class='details-box'>
                            <h2>SHSS Toytastic Club</h2>
                            <h1>For the toy lovers and <span>collectors</span></h1>
                            <p>This site is made by one of the club memebers.
                            Made for the everyone, collectors, toy lovers to share
                            their images. We would love for you to join.</p>
                            <p>Get Started!</p>
                            <a href='https://teams.microsoft.com/l/team/19%3a189ee1c1c8364fc4b948287b44c5060c%40thread.tacv2/conversations?groupId=c394f805-53dd-4c97-8d14-0be687f3405f&tenantId=08b4e9cf-8113-420d-ba07-52f7d4df8acd'>Join our Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='about'>
            <a name='about'></a>
            <div class='about-content'>
                <div class='about-container'>
                    <h2>About Us</h2>
                    <p>SHSS Toytastic Club is for all, wether you enjoy
                    toys or collect. We come together to share our likes, 
                    differences, toys, and more. This isn't just about toys.
                    Its about a community of people who enjoy all sorts.
                    Like movies, tv shows, games and all pop culture.</p>
                </div>
                <div class='creator'>
                    <h2>About Me</h2>
                    <p>I am Braeden, one of the Toytastic Club Memebers. 
                    I custome proggramed this site for the memebers to 
                    share images of their collections or toys.</p>
                </div>
            </div>
        </div>

        <!-- Load Scripts -->
        <script src='/static/scripts/slide.js'></script>
    </body>
</html>
